user_uuid = "0fe12b5b-b088-4c0a-9382-08e1174f32d7"
bucket_name="83pw1mecdirschglh11j9l97dy6zyxx7"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
content_version = 1